<section>
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-expand-md">
                <a class="navbar-brand" href="/api/v1/ca/">
                    <img src="/images/ca logo.jpeg" alt="This is logo..." height="90px">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end"" id=" navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/api/v1/ca/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/api/v1/ca/notices">Notice</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/api/v1/ca/photos">Photos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/api/v1/ca/blogs">Blogs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"> <i class="bi bi-instagram"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"> <i class="bi bi-twitter"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"> <i class="bi bi-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

</section>